/* src/index.css */
@import './tailwind.css';


/* src/assets/fonts.css */
@font-face {
    font-family: 'Hatton-Regular';
    src: url('../src/assets/fonts/Hatton-Regular.otf') format('truetype'); /* Đảm bảo đường dẫn đúng với file font */
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DFVN-Pencerio';
    src: url('../src/assets/fonts/DFVN\ Pencerio.otf') format('truetype'); /* Đảm bảo đường dẫn đúng với file font */
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DFVN-TAN';
    src: url('../src/assets/fonts/DFVN\ TAN\ -\ HARMONI.otf') format('truetype'); /* Đảm bảo đường dẫn đúng với file font */
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Hoasen';
    src: url('../src/assets/fonts/Hoa\ Sen\ Typeface.ttf') format('truetype'); /* Đảm bảo đường dẫn đúng với file font */
    font-weight: normal;
    font-style: normal;
  }

  html,body{
    overflow: hidden; /* Hides both horizontal and vertical overflow */
  }